Innochamp_IBMXSCDF.json
[{"id":"403fe75c.a72058","type":"tab","label":"Twitter_sentiment_analysis","disabled":false,"info":""},{"id":"10fa53e4.b8758c","type":"change","z":"403fe75c.a72058","name":"","rules":[{"t":"set","p":"nome","pt":"global","to":"tweet.user.name","tot":"msg"},{"t":"set","p":"local","pt":"global","to":"tweet.user.location","tot":"msg"},{"t":"set","p":"texto","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":360,"wires":[["14fcc347.418b1d","1c8dd631.f9fb4a","2abd00f2.92efa"]]},{"id":"14fcc347.418b1d","type":"debug","z":"403fe75c.a72058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.user.location","targetType":"msg","x":710,"y":260,"wires":[]},{"id":"1c8dd631.f9fb4a","type":"debug","z":"403fe75c.a72058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":300,"wires":[]},{"id":"63943ed8.66caf","type":"twitter in","z":"403fe75c.a72058","twitter":"","tags":"#dengue bio_location:singapore,#lakh,#mosquito","user":"false","name":"Get_dengue_tweets","inputs":1,"x":130,"y":360,"wires":[["b44f4c47.1662c"]]},{"id":"f7af2711.763198","type":"watson-translator","z":"403fe75c.a72058","name":"Mandarin-English translator","action":"translate","basemodel":"ar-en","domain":"general","srclang":"zh","destlang":"en","password":"","apikey":"ZyoZ3HCRVhw3euQs9Jos52Gd_b_dy_HqBSzEVaKcbjnE","custom":"","domainhidden":"general","srclanghidden":"zh","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/db098f09-ddfc-4587-a564-7e8ed94e203e","x":1000,"y":260,"wires":[["34a0d142.02646e"]]},{"id":"34a0d142.02646e","type":"natural-language-understanding","z":"403fe75c.a72058","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"fear,anger","doc-sentiment":false,"doc-sentiment-target":"subjectivity,objectivity","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"3","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"10","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.us-east.natural-language-understanding.watson.cloud.ibm.com/instances/c33ce81a-9516-4a50-9fcd-8e608bc3d19c","x":1280,"y":260,"wires":[["f514999.ae6b368","e4aa90b3.9873f"]],"info":"[\r\n  {\r\n    \"text\": \"happy\",\r\n    \"sentiment\": {\r\n      \"score\": 0.792454\r\n    },\r\n    \"relevance\": 0.864624,\r\n    \"emotion\": {\r\n      \"sadness\": 0.188625,\r\n      \"joy\": 0.522781,\r\n      \"fear\": 0.12012,\r\n      \"disgust\": 0.103212,\r\n      \"anger\": 0.106669\r\n    },\r\n    \"count\": 1\r\n  },\r\n  {\r\n    \"text\": \"worried\",\r\n    \"sentiment\": {\r\n      \"score\": 0.664726\r\n    },\r\n    \"relevance\": 0.864593,\r\n    \"emotion\": {\r\n      \"sadness\": 0.265225,\r\n      \"joy\": 0.532354,\r\n      \"fear\": 0.07773,\r\n      \"disgust\": 0.090112,\r\n      \"anger\": 0.102242\r\n    },\r\n    \"count\": 1\r\n  }\r\n]"},{"id":"f514999.ae6b368","type":"debug","z":"403fe75c.a72058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","x":1530,"y":220,"wires":[]},{"id":"b44f4c47.1662c","type":"function","z":"403fe75c.a72058","name":"Rate Limiter","func":"var interval = (1000*60*60); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime > interval) {\n  context.lastTime = now;\n  return msg;\n} else {\n  return null;\n}","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["10fa53e4.b8758c"]]},{"id":"8bd18cf.5c30b7","type":"comment","z":"403fe75c.a72058","name":"Assigns a generalized numerical score to public sentiments","info":"","x":250,"y":500,"wires":[]},{"id":"2abd00f2.92efa","type":"function","z":"403fe75c.a72058","name":"Filter_geolocation","func":"if (msg.tweet.user.name==\"Singapore\")  {\n\n    return msg;\n    \n}\nelse {\n    msg.payload = \"Sorry,this is not our target tweet.\";\n}\n    ","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["f7af2711.763198","6e886bbe.b32fc4","2bc90243.8dd2ae","80619eb4.f1f83"]]},{"id":"6e886bbe.b32fc4","type":"mlsentiment","z":"403fe75c.a72058","name":"","property":"payload","lang":"en","x":130,"y":560,"wires":[["8236fb79.352978"]]},{"id":"8236fb79.352978","type":"function","z":"403fe75c.a72058","name":"Send sentiment as payload","func":"msg.payload = msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":560,"wires":[["38cabba9.afef64","483fcfe6.3f64b"]]},{"id":"38cabba9.afef64","type":"debug","z":"403fe75c.a72058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":500,"wires":[]},{"id":"483fcfe6.3f64b","type":"smooth","z":"403fe75c.a72058","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":660,"y":560,"wires":[["8ea3f3fd.1edbc"]]},{"id":"8ea3f3fd.1edbc","type":"range","z":"403fe75c.a72058","minin":"-5","maxin":"5","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":830,"y":560,"wires":[["18f411bd.b7a97e"]]},{"id":"18f411bd.b7a97e","type":"function","z":"403fe75c.a72058","name":"Round Number","func":"var value = msg.payload;\nmsg.payload = value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":560,"wires":[["151c12f.0b7ebed"]]},{"id":"151c12f.0b7ebed","type":"ui_gauge","z":"403fe75c.a72058","name":"Sentiment","group":"cf2e4b46.8d3ac8","order":0,"width":0,"height":0,"gtype":"gage","title":"Twitter Result","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#ca3838","#ffffff","#000000"],"seg1":"","seg2":"","x":1220,"y":560,"wires":[]},{"id":"6610587e.446858","type":"comment","z":"403fe75c.a72058","name":"Extract tweets related to analysis","info":"","x":150,"y":260,"wires":[]},{"id":"b6bb45d9.73a258","type":"comment","z":"403fe75c.a72058","name":"Processing of unstructured text for sentiment analysis","info":"","x":1060,"y":200,"wires":[]},{"id":"2bc90243.8dd2ae","type":"watson-translator","z":"403fe75c.a72058","name":"Malay-English translator","action":"translate","basemodel":"ar-en","domain":"general","srclang":"ms","destlang":"en","password":"","apikey":"ZyoZ3HCRVhw3euQs9Jos52Gd_b_dy_HqBSzEVaKcbjnE","custom":"","domainhidden":"general","srclanghidden":"ms","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/db098f09-ddfc-4587-a564-7e8ed94e203e","x":990,"y":360,"wires":[["a631c076.e160f"]]},{"id":"a631c076.e160f","type":"natural-language-understanding","z":"403fe75c.a72058","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"fear,anger","doc-sentiment":false,"doc-sentiment-target":"subjectivity,objectivity","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"3","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"10","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.us-east.natural-language-understanding.watson.cloud.ibm.com/instances/c33ce81a-9516-4a50-9fcd-8e608bc3d19c","x":1280,"y":360,"wires":[["baadcab0.732fc8","fb9af681.646d68"]],"info":"[\r\n  {\r\n    \"text\": \"happy\",\r\n    \"sentiment\": {\r\n      \"score\": 0.792454\r\n    },\r\n    \"relevance\": 0.864624,\r\n    \"emotion\": {\r\n      \"sadness\": 0.188625,\r\n      \"joy\": 0.522781,\r\n      \"fear\": 0.12012,\r\n      \"disgust\": 0.103212,\r\n      \"anger\": 0.106669\r\n    },\r\n    \"count\": 1\r\n  },\r\n  {\r\n    \"text\": \"worried\",\r\n    \"sentiment\": {\r\n      \"score\": 0.664726\r\n    },\r\n    \"relevance\": 0.864593,\r\n    \"emotion\": {\r\n      \"sadness\": 0.265225,\r\n      \"joy\": 0.532354,\r\n      \"fear\": 0.07773,\r\n      \"disgust\": 0.090112,\r\n      \"anger\": 0.102242\r\n    },\r\n    \"count\": 1\r\n  }\r\n]"},{"id":"80619eb4.f1f83","type":"watson-translator","z":"403fe75c.a72058","name":"Hindi-English translator","action":"translate","basemodel":"ar-en","domain":"general","srclang":"hi","destlang":"en","password":"","apikey":"ZyoZ3HCRVhw3euQs9Jos52Gd_b_dy_HqBSzEVaKcbjnE","custom":"","domainhidden":"general","srclanghidden":"hi","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/db098f09-ddfc-4587-a564-7e8ed94e203e","x":990,"y":460,"wires":[["65f2301c.94021"]]},{"id":"65f2301c.94021","type":"natural-language-understanding","z":"403fe75c.a72058","name":"","categories":false,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"fear,anger","doc-sentiment":false,"doc-sentiment-target":"subjectivity,objectivity","entity":false,"entity-emotion":true,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"3","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"10","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.us-east.natural-language-understanding.watson.cloud.ibm.com/instances/c33ce81a-9516-4a50-9fcd-8e608bc3d19c","x":1280,"y":460,"wires":[["3c48b2d8.48f68e","e4588353.aa7f6"]],"info":"[\r\n  {\r\n    \"text\": \"happy\",\r\n    \"sentiment\": {\r\n      \"score\": 0.792454\r\n    },\r\n    \"relevance\": 0.864624,\r\n    \"emotion\": {\r\n      \"sadness\": 0.188625,\r\n      \"joy\": 0.522781,\r\n      \"fear\": 0.12012,\r\n      \"disgust\": 0.103212,\r\n      \"anger\": 0.106669\r\n    },\r\n    \"count\": 1\r\n  },\r\n  {\r\n    \"text\": \"worried\",\r\n    \"sentiment\": {\r\n      \"score\": 0.664726\r\n    },\r\n    \"relevance\": 0.864593,\r\n    \"emotion\": {\r\n      \"sadness\": 0.265225,\r\n      \"joy\": 0.532354,\r\n      \"fear\": 0.07773,\r\n      \"disgust\": 0.090112,\r\n      \"anger\": 0.102242\r\n    },\r\n    \"count\": 1\r\n  }\r\n]"},{"id":"baadcab0.732fc8","type":"debug","z":"403fe75c.a72058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","x":1530,"y":320,"wires":[]},{"id":"3c48b2d8.48f68e","type":"debug","z":"403fe75c.a72058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","targetType":"msg","x":1530,"y":420,"wires":[]},{"id":"a2011ce2.25ea2","type":"ui_text_input","z":"403fe75c.a72058","name":"sentiment_category","label":"sentiment_Hindi","tooltip":"","group":"45b23e2a.48e15","order":0,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1750,"y":460,"wires":[[]]},{"id":"b263fa5d.61cd88","type":"ui_text_input","z":"403fe75c.a72058","name":"sentiment_category","label":"sentiment_malay","tooltip":"","group":"45b23e2a.48e15","order":0,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1750,"y":360,"wires":[[]]},{"id":"e4aa90b3.9873f","type":"change","z":"403fe75c.a72058","name":"display_sentiment","rules":[{"t":"set","p":"payload","pt":"msg","to":"features.keywords.sentiment","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":260,"wires":[["5f15fe7.73345"]]},{"id":"5f15fe7.73345","type":"ui_text_input","z":"403fe75c.a72058","name":"sentiment_category","label":"sentiment_Mandarin","tooltip":"","group":"45b23e2a.48e15","order":0,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":1750,"y":260,"wires":[[]]},{"id":"fb9af681.646d68","type":"change","z":"403fe75c.a72058","name":"display_sentiment","rules":[{"t":"set","p":"payload","pt":"msg","to":"features.keywords.sentiment","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":360,"wires":[["b263fa5d.61cd88"]]},{"id":"e4588353.aa7f6","type":"change","z":"403fe75c.a72058","name":"display_sentiment","rules":[{"t":"set","p":"payload","pt":"msg","to":"features.keywords.sentiment","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":460,"wires":[["a2011ce2.25ea2"]]},{"id":"cf2e4b46.8d3ac8","type":"ui_group","z":"","name":"Default","tab":"27db9b9b.be8764","order":1,"disp":true,"width":"6"},{"id":"45b23e2a.48e15","type":"ui_group","z":"","name":"Default","tab":"f2f0c9fe.fdf0a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"27db9b9b.be8764","type":"ui_tab","z":"","name":"Main Menu","icon":"dashboard","order":1},{"id":"f2f0c9fe.fdf0a8","type":"ui_tab","z":"","name":"Vulnerable","icon":"dashboard","disabled":false,"hidden":false}]